/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {


  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; 
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*=============== THEME ===============*/
.change-theme{
  position: absolute;
  top: 1.5rem;
  right: 0;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: .3rem;
  z-index: 9999;
}

.change-theme:hover{
  color: var(--first-color);

}


/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue), 24%, 12%);
}
/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.dark-theme .filters__content{
  background-color: var(--container-color);
}

.dark-theme .course-list p{
  color: var(--container-color);
}

.dark-theme .course-list{
  background: darkgrey;
}

.dark-theme .course-list li{
  color: var(--container-color);
}

.dark-theme .course-list li:hover{
  color: white;
}
.dark-theme::-webkit-scrollbar{
  background-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(var(--hue), 8%, 24%);
}

.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--hue), 8%, 32%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== PROFILE ===============*/
.profile{
  position: relative;
  padding-top: 3.5rem;
}

.profile__container{
  row-gap: 2rem;
}

.profile__data{
  display: grid;
  text-align: center;
}

.profile__pic{
  width: 100px;
  height: 100px;
  background: linear-gradient(180deg,
  hsla(var(--hue), var(--sat), var(--lig), 1) 0%,
  hsla(var(--hue), var(--sat), var(--lig), .2) 100%);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.profile__pic img{
  width: 75px;
}

.profile__border{
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: .75rem;
}

.profile__name{
  font-size: var(--h2-font-size);
}

.profile__profession{
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.profile__social{
  display: flex;
  justify-content: center;
  column-gap: .75rem;
}

.profile__social-link{
  font-size: 1.25rem;
  color: var(--title-color);
  transition: .3s;
}

.profile__social-link:hover{
  color: var(--first-color);
}

.profile__info{
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 2.5rem;
}

.profile__info-group{
  text-align: center;
}

.profile__info-number{
  font-size: var(--smaller-font-size);
  margin-bottom: .25rem;
}

.profile__info-description{
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.profile__buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}



/*=============== BUTTONS ===============*/
.button{
  display: inline flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--first-color);
  color: #fff;
  padding: 1.15rem;
  border-radius: .5rem;
  transition: .3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
}

.button i{
  font-size: 1.25rem;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.go-back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--first-color); 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 1rem auto; 
  display: block; 
  width: fit-content; 
}

.go-back-button:hover {
  background-color: var(--first-color-alt);
}


/*=============== FILTERS TABS ===============*/
.filters__content{
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-lighten);
  padding: .325rem;
  border-radius: .75rem;
  display: flex;
  justify-content: space-between;
  column-gap: .5rem;
}

.filters__button{
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  border-radius: .75rem;
  font-weight: 500;
  background-color: transparent;
  transition: .3s;
  cursor: pointer;
  color: var(--text-color)
}

.filters__button:hover{
  background-color: var(--body-color);
}

/*=============== EDUCATION ===============*/
.education__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 3rem;
}

.education__img {
  display: block;
  width: 100%;
  height: auto; 
  margin: 0 auto; 
  border-radius: .75rem;
  padding: 1rem;
}

.education__subtitle, .education__subtitles, .education__cta {
  font-size: var(--small-font-size); 
  color: var(--text-color-light); 
}

.education__title {
  font-size: 1.5rem;
  color: var(--title-color-light);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.education__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.education__modal {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.education__card:hover .education__modal,
.education__card:focus-within .education__modal {
  opacity: 1; 
}

/*=============== COURSE-LIST ===============*/

.course-header{
  display: flex;
  padding-bottom: .5rem;
  justify-content: center;
  margin: 1rem;
}

.course-list {
  background: linear-gradient(145deg, #f8f8f8, #e6e6e6); 
  border: 1px solid #ccc; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); 
  border-radius: .5rem; 
  padding: 20px;
  max-width: 600px; 
  margin: auto; 
}

.course-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

.course-list li {
  padding: 15px 20px; 
  border-bottom: 2px solid #eee; 
  transition: background-color 0.3s; 
}

.course-list li:hover {
  background-color: var(--body-color);
  border-radius: .5rem;  

}

.course-list li:last-child {
  border-bottom: none;
}

.course-list li:not(:last-child) {
  margin-bottom: 10px; 
}

.course-list p {
  color: var(--title-color);
  font-size: 1rem; 
  line-height: 1.6; 
  text-align: left; 
  margin-top: 0; 
  margin-bottom: 1.5rem; 
  margin: 1rem; 
  padding: 0; 
}


/*=============== SKILLS ===============*/
.skills__area {
  margin-bottom: 3.5rem;
}

.skills__title{
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box{
  column-gap: 3rem;
}

.skills__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: flex-start;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}


.skills__data{
  display: flex;
  column-gap: .5rem;
  align-items: center; 
}

.skills__data i, 
.skills__data span{
  font-size: 1rem;
  color: var(--first-color);
}

.skills_name{
  font-size: var(--normal-font-size);
  font-weight: 500;
  line-height: 18px;
}



/* Hide and show education & skills */
.filters [data-content]{
  display: none;
}

.filters__active[data-content]{
  display: grid;
}

/* Activate button filter */
.filter-tab-avtive{
  background-color: var(--body-color);
}

/*=============== FOOTER ===============*/
.footer__copy{
  display: block;
  margin: 2.5rem 0 2 rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light)
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--hue), 8%, 66%);
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(var(--hue), 8%, 54%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--hue), 8%, 44%);
}



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen  and (max-width: 320px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .profile__info{
    column-gap: 1.5rem;
  }

  .skills__box{
    column-gap: 1rem;
   
  }

  .course-list {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .education__card .education__modal {
    opacity: 1; 
  }

}

@media screen  and (max-width: 430px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .profile__info{
    column-gap: 1.5rem;
  }

  .skills__box{
    column-gap: 1rem;
   
  }

  .course-list {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .education__card .education__modal {
    opacity: 1; 
  }

}

/* For medium devices */
@media screen and (min-width: 576px) {
  .education__content{
    grid-template-columns: 332px;
    justify-content: center;
  }

  .filters__content{
    width: 332px;
    margin: 3rem auto;
  }

  .course-list {
    margin-left: 1rem;
    margin-right: 1rem;
  }

}

@media screen and (min-width: 768px) {
  .education__content{
    grid-template-columns: repeat(2, 332px);
  }

  .skills__content{
    justify-content: center;
    column-gap: 3rem;
  }

  .course-list {
  margin: auto;
  }

}

/* For large devices */
@media screen and (min-width:992px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .change-theme{
    top: 2.5rem;
    right: 2.5rem;
  }

  .profile{
    padding-top: 4rem;
  }

  .profile__border{
    width: 135px;
    height: 135px;
    margin-bottom: 1rem;
  }

  .profile__pic{
    width: 120px;
    height: 120px;
  }

  .profile__pic img{
    width: 90px;
  }

  .profile__profession{
    margin-bottom: 1.5rem;
  }

  .profile__info{
    column-gap: 3rem;
  }

  .profile__info-description{
    font-size: var(--smaller-font-size);
  }

 .education__content{
  gap: 2rem 3rem;
 }

 .education__modal{
  padding: 1.5rem;
 }

 .skills__title{
  font-size: var(--normal-font-size);
  margin-bottom: 2.5rem;
 }

 .footer__copy{
  margin: 4.5rem 0 2.5rem;
 }
}

/*=============== SCROLL REVEAL ANIMATION ===============*/
html.sr .load-hidden {
  visibility: hidden;
}